{% extends 'base.html' %}
<!--Don't forget your import here-->
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Add a new cafe into the database</h1>





      {% from 'bootstrap4/form.html' import render_field, render_hidden_errors %}









      <form action="{{url_for('add_cafe')}}" method="POST" novalidate >
      {{form.csrf_token }}

      {{ render_field(form.cafe) }} 

      {{ render_field(form.location )}} 


      {{ render_field(form.open) }} 


      {{ render_field(form.closing) }}


      {{ render_field(form.rating) }}


      {{ render_field(form.wifi) }} 


      {{ render_field(form.power) }}
      <br>
      {{ render_field(form.submit) }} 
      <!-- This is where your WTForm will go -->
      </form>



<form method="post">
</form>
	  <p class="space-above"><a href="{{url_for('cafes')}}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
